body {
    display: grid;
    place-content: center;
    color: var(--primary-color);
}

.login {
    max-width: 1440px;
}

.login .login__img {
    display: none;
}

.login .login__form {
    padding: 5rem 2rem;
    display: grid;
    gap: 1.25rem;
    place-items: center;
    position: relative;
}

.login form {
    display: grid;
    gap: 1.25rem;
    place-items: center;
}

a {
    color: var(--font-color);
    font-weight: 500;
}

.mobile,
.password,
.actions {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    padding-left: 1.5rem;
}

input {
    background-color: transparent;
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    box-shadow: 0 4px 15px -3px rgba(0, 0, 0, 0.35);
    min-width: 320px;
}

.actions {
    min-width: 320px;
    gap: 1rem;
    align-items: start;
}

.actions button {
    align-self: center;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
}

.actions p {
    color: var(--font-color);
}

.actions p a {
    color: var(--primary-color);
}

.login .login__form .back__anchor {
    position: absolute;
    top: 2%;
    left: 5%;
    background-color: transparent;
    border: none;
    color: var(--font-color);
    cursor: pointer;
}

.login__form .back i {
    font-size: 2rem;
    transition: 0.4s;
}

.login__form .back:hover i {
    color: var(--primary-color);
    font-size: 2.5rem;
}

@media (min-width: 980px) {
    .login {
        display: flex;
    }

    .login .login__img {
        display: initial;
        flex: 1;
        border-radius: 1rem 0 0 1rem;
        overflow: hidden;
    }

    .login .login__img img {
        width: 100%;
        height: 100%;
    }

    .login .login__form {
        flex: 1;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
}
